* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background: #f4f6f8;
    color: #222;
}

.container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.card {
    background: #fff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
    margin-bottom: 24px;
}

form {
    display: grid;
    grid-template-columns: repeat(4, 1fr) auto;
    gap: 12px;
}

input,
select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}

button {
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #1d4ed8;
}

button:disabled {
    background: #9ca3af;
    cursor: not-allowed;
}

.btn-excluir {
    background: #dc2626;
}

.btn-excluir:hover {
    background: #b91c1c;
}

.btn-editar {
    background: #059669;
}

.btn-editar:hover {
    background: #047857;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th {
    background: #111827;
    color: white;
    padding: 14px;
    text-align: left;
}

td {
    padding: 12px;
    border: 1px solid #e5e7eb;
}

tr:hover {
    background: #f9fafb;
}

.acoes {
    display: flex;
    gap: 6px;
}

.total {
    text-align: right;
    font-size: 20px;
    margin-top: 20px;
}

.paginacao-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.paginacao-controles {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

#modalEditar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.4);

    align-items: center;
    justify-content: center;
}

#modalEditar .modal-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
}

.botoes-modal {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn-cancelar {
    background: #6b7280;
}

.btn-cancelar:hover {
    background: #4b5563;
}

td:nth-child(1) {
    width: 30%;
}

td:nth-child(6) {
    width: 150px;
}

.erros-form {
  margin-top: 10px;
  color: #b00020;
  font-size: 14px;
}

.erros-form p {
  margin: 4px 0;
}

.campo-invalido {
  border: 2px solid #b00020 !important;
  background-color: #fff5f5;
}
